/*Block modifications*/
body {
    background-color: #37445c;
}

#header {
    background-color: tomato;
    text-align: center;
}

#wrap {
    background-color: white;
}

#menu {
    background-color: tomato;
    float: left;
}

#text {
    float: right;
    background-color: teal;
}


/*Text modifications*/

h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color:white;
}